$_LINE_CLAMP: 2;

.evenia-event-card {
  @apply max-w-[294px];

  &__author {
    @apply text-label-lg;
  }

  &__author, &__date {
    @apply text-gray-60;
  }

  &__content {
    @apply 
      bg-indigo-light
      gap-[14px]
      grid
      p-5
      rounded-b-card;
  }

  &__date {
    @apply text-label-md;
  }
  
  &__image {
    @apply absolute min-h-[174px] object-cover rounded-t-card;
  }

  &__image-container {
    @apply min-h-[174px] relative;
  }

  &__link {
    @apply block;
  }

  &__title {
    @apply overflow-hidden text-heading-xsm;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: #{$_LINE_CLAMP};

    @screen xl {
      @apply min-h-[56px];
    }

    @media screen and (max-width: 648px) {
      @apply min-h-max;
    }
  }

  @screen xl {
    @apply max-w-full;
  }
}